################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ValidacaoExemplo/bin
/ValidacaoExemplo/.vs/config
/ValidacaoExemplo/obj/Debug
/packages
/.vs/config
/AuthenticationExample/obj/Debug
/AuthenticationExample/bin/roslyn
