################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/AuthenticationExample/obj
/AuthenticationExample/bin
